@import '../../sassStyles/variables';

.inputTextBox--container {
  position: relative;
}
.inputTextBox {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 1rem;
  height: 4rem;
  padding: 0rem 2rem;
  font-size: 2rem;

  .sans & {
    font-family: $sans;
  }
  .mono & {
    font-family: $mono;
  }
  .serif & {
    font-family: $serif;
  }

  .dark & {
    background-color: $dark-3;
    color: $white-1;
  }

  .light & {
    background-color: $white-2;
    color: $dark-4;
  }

  &:focus {
    outline: 2px solid $purple-1;
    outline-color: $purple-1;
  }

  &.error {
    border: 1px solid $orange-1;
  }
}

.inputTextBox--icon {
  position: absolute;
  right: 1.5rem;
  top: 1.1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s ease-out;

  &:hover {
    transform: scale(1.3);
    transition: all 0.25s ease-out;
  }
}

.inputTextBox--errorMessage {
  color: $orange-1;
  padding-top: 1rem;
  font-size: 1.3rem;
}
