@import './variables';

$phone-mini: 320px;
$phone: 766px;
$table: 900px;
$table-land: 1200px;
$desktop: 1800px;

@mixin responsiveMax($breakpoint) {
  @media (max-width: ($breakpoint/16px*1em)) {
    @content;
  }
}
@mixin responsiveMin($breakpoint) {
  @media (min-width: ($breakpoint/16px*1em)) {
    @content;
  }
}

@mixin adaptToThemes(
  $darkBackground: $dark-4,
  $darkFont: $white-1,
  $lightBackground: $white-1,
  $lightFont: $dark-4
) {
  .dark & {
    background-color: $darkBackground;
    color: $darkFont;
  }

  .light & {
    background-color: $lightBackground;
    color: $lightFont;
  }
}
