$dark-1: #3a3a3a;
$dark-2: #2d2d2d;
$dark-3: #1f1f1f;
$dark-4: #050505;

$grey-1: #838383;

$white-1: #ffffff;
$purple-1: rgb(164, 69, 237);
$orange-1: rgb(255, 82, 82);

// Fonts
$mono: "Roboto Mono", monospace;
$serif: "Source Serif Pro", serif;
$sans: sans-serif;
