@import '../../sassStyles/variables';

.dropdown {
  display: flex;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &-icon {
    transform: rotateX(0deg);
    transition: all 0.25s ease-out;
    margin-left: 0.5rem;
  }

  &.open {
    .dropdown-icon {
      transform: rotateX(180deg);
      transition: all 0.25s ease-out;
    }
  }

  &_container {
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: $dark-3;
    position: absolute;
    top: 3rem;
    right: 0;
    display: none;

    .dark & {
      background-color: $dark-3;
      color: $white-1;
      box-shadow: 0 0 3rem $purple-1;
      transition: all 0.25s ease-out;
    }
    .light & {
      background-color: $white-1;
      color: $dark-4;
      box-shadow: 0 0 3rem $grey-1;
      transition: all 0.25s ease-out;
    }

    .dropdown.open & {
      display: inline-block;
    }

    &-item {
      display: block;
      text-align: left;
      margin: 0.8rem 0;
      cursor: pointer;

      &.serif {
        font-family: $serif;
      }
      &.mono {
        font-family: $mono;
      }
      &.sans {
        font-family: $sans;
      }

      &:hover {
        color: $purple-1;
        transition: all 0.25s ease-out;
      }
    }
  }

  // Theming properties
  .dark & {
    color: $white-1;
  }
}
