@import './sassStyles/variables';

.app {
  width: 100%;
  height: 100vh;

  &.light {
    background-color: $white-1;
  }

  &.dark {
    background-color: $dark-4;
  }

  &.mono {
    font-family: $mono;
  }

  &.serif {
    font-family: $serif;
  }
  &.sans {
    font-family: $sans;
  }

  &_container {
    width: 50rem;
    margin: 0 auto;
    border: 1px solid red;
    height: 100vh;
  }
}
