@import '../../sassStyles/variables';

.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;

  &_actions {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--divider {
      margin: 0 2rem;
      border: 1px solid $white-1;
      height: 100%;

      .light & {
        border-color: $grey-1;
      }
    }
  }
}
