@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.meaning {
  margin-top: 4rem;
  &_header {
    display: flex;
    align-items: center;
    &--partOfSpeech {
      font-size: 2.4rem;

      @include responsiveMax($phone) {
        font-size: 1.4rem;
      }
    }
    &--division {
      width: 100%;
      border-color: red;
      border: 0.5px solid $dark-3;
      margin-left: 3rem;

      .light & {
        border-color: $grey-1;
      }
    }
  }

  &_body {
    &--meaningHeader {
      font-size: 2rem;
      margin: 2.5rem 0;

      @include responsiveMax($phone) {
        font-size: 1.6rem;
      }
      .dark & {
        color: $dark-1;
        font-weight: normal;
      }

      .light & {
        color: $grey-1;
        font-weight: lighter;
      }
    }

    &--ul {
      margin-left: 2.2rem;
      list-style: none;
    }

    &--li {
      list-style: none;
      font-size: 1.8rem;
      font-weight: normal;
      &:not(:last-child) {
        margin-bottom: 1.3rem;
      }

      p:first-child {
        display: inline;
      }

      &::before {
        content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $purple-1; /* Change the color */
        font-weight: bold;
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
      &_example {
        color: $grey-1;
        margin-top: 1.3rem;
      }
    }

    &--synonymContainer {
      display: flex;
      align-items: flex-start;
      margin-top: 6rem;
      & div {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &--synonymHeader {
      font-size: 2rem;
      color: $dark-1;
    }
    &--synonymItem {
      font-size: 1.5rem;
      color: $purple-1;
      margin: 0 1.3rem;
    }
  }
}
